.notification {
	box-sizing: border-box;
	position: relative;
	background: lightcoral;
	width: 100%;
	padding: 8px 20px;
	margin-top: 10px;
	color: #333;
	border-radius: 2px;
}

.notification-success {
	background: lightgreen;
}

.notification-info {
	background: lightblue;
}

.notification-error {
	background: lightpink;
}

.notification-toggle {
	display: none;
}

.notification-toggle:checked+div.notification {
	display: none;
}

.notification-toggle-close-button {
	cursor: pointer;
	position: absolute;
	display: inline-block;
	width: 34px;
	height: 34px;
	right: 0;
	top: 0;
	text-align: center;
	line-height: 34px;
	font-size: 14px;
}