:root {
	--color-black: #333;
	--color-grey: #aaa;
	--color-accent: #0076ce;
	--color-back-accent: #0090fb;
	--color-front-accent: white;
	--color-accent-hover: #0074cc;
	--color-back-grey: #eee;
	--color-hover-grey: #ddd;
}

/* Plain HTML */

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), url('../fonts/raleway-v22-latin-regular.woff') format('woff');
}

html, body {
	margin: 0;
	padding: 0 0 20px 0;
}

body {
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 200px;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 800px) {
	section {
		padding: 10px;
	}
}

input, select, textarea {
	border: 1px solid var(--color-grey);
	border-radius: 2px;
	outline: none;
	padding: 4px 8px;
	min-width: 70px;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	min-height: 40px;
	max-height: 400px;
}

input:focus, input:active, select:focus, textarea:focus, select:active, textarea:active {
	border-color: white;
	outline: var(--color-accent) solid 2px;
}

a:link, a:visited, a:hover, a:focus, a:active {
	color: var(--color-black);
	text-decoration: none;
}

a, button, input[type="submit"], input[type="button"] {
	display: inline-block;
	border: 1px solid var(--color-grey);
	background-color: var(--color-back-grey);
	font-size: 0.9rem;
	padding: 2px 8px;
	color: var(--color-black);
	border-radius: 2px;
	cursor: pointer;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 70px;
	text-align: center;
	box-sizing: border-box;
	margin-top: 5px;
}

a:hover, button:hover, input[type="submit"]:hover, input[type="button"]:hover {
	background-color: var(--color-hover-grey);
}

a.p, button.p, input[type="submit"].p, input[type="button"].p {
	background-color: var(--color-back-accent);
	border-color: var(--color-accent);
	color: var(--color-front-accent);
}

a.p:hover, button.p:hover, input[type="submit"].p:hover, input[type="button"].p:hover {
	background-color: var(--color-accent-hover);
}

td {
	/* background-color: pink; */
	padding: 4px;
}

input[type="submit"], input[type="button"] {
	min-width: 0;
	outline: none;
	width: auto;
}

/* Navbar */

nav {
	/* background-color: palegoldenrod; */
	border-bottom: 1px solid var(--color-grey);
	overflow: auto;
}

nav>div>a {
	/* background-color: pink; */
	display: inline-block;
	padding: 10px;
	margin-left: -4px;
	background-color: white;
	border: none;
	text-transform: uppercase;
	min-width: 0;
}

nav>div>a, nav>span>label {
	font-size: 14px;
}

nav>div>a.a {
	color: var(--color-accent);
}

nav>div>a:first-child {
	margin-left: 0;
}

nav>div>a:hover {
	color: var(--color-accent);
	background-color: white;
	text-decoration: none;
}

nav>div {
	display: none;
}

nav>span {
	display: block;
	overflow: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav>span>label {
	float: right;
	padding: 10px;
	color: var(--color-black);
	cursor: pointer;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
}

nav>input[type=checkbox]:checked+div {
	display: block;
}

nav>input[type=checkbox] {
	display: none;
}

nav>div.c {
	text-align: center;
}

/* NOTE: to modify when navbar collapses modify the min-width here 
––––––––––––––––––––––––––––––––––––––––––––––––––------------------ */

@media (max-width: 549px) {
	nav>div>a {
		width: 50%;
		float: left;
		box-sizing: border-box;
		margin-left: 0;
	}
	nav>div>a.r {
		float: left !important;
	}
	nav>div {
		border-top: 1px solid var(--color-grey);
		overflow: auto;
		padding: 5px 0;
		box-shadow: 0px -3px 10px -6px rgba(0, 0, 0, 0.75) inset;
		-webkit-box-shadow: 0px -3px 7px -7px rgba(0, 0, 0, 0.75) inset;
		-moz-box-shadow: 0px -3px 10px -6px rgba(0, 0, 0, 0.75) inset;
	}
	nav>span {
		box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
		-webkit-box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 3px 10px -6px rgba(0, 0, 0, 0.75);
	}
}

@media (min-width: 550px) {
	nav>span, nav>span>label {
		display: none;
	}
	nav>div {
		display: block;
	}
	nav>div>a {
		display: inline-block;
		width: auto;
	}
	nav>div>a.r {
		float: right;
		width: auto;
	}
}

/* Fields set styles */

fieldset {
	border: none;
	padding: 0;
}

legend {
	font-size: 1.5rem;
	margin: 0 0 10px 3px;
	border-bottom: 1px solid #aaa;
	width: 100%;
	padding: 10px 0;
	/* text-align: center; */
}

/* Centered fieldset */

fieldset.c>legend {
	text-align: center;
}

fieldset.c>table {
	margin: 0 auto;
}

/* Tables */

table.v {
	border-collapse: collapse;
	width: 100%;
}

table.v, table.v th, table.v td {
	border: 1px solid var(--color-grey);
}

table.v th {
	text-align: left;
	background-color: var(--color-back-grey);
}

table.v td, table.v th {
	padding: 4px 8px;
}

table.v td>a {
	padding: 0;
	margin-top: 0;
}

table.v tr:hover {
	background: var(--color-back-grey);
}

/* Utilities */

.r {
	float: right;
}